
/* ___________Начало главы___________ */

	/* _Начало подглавы_ */

		/* Коментарий к следующей строке */

	/* ^Конец подглавы^ */

/* ^^^^^^^^^^^Конец главы^^^^^^^^^^^^ */


/* Ghost ставить в HTML самым первым из стилей! */

/* Для быстрого добавления "../../" необходимо:
   Выделить "./../images/" > Ctrl(Cmd)+f > Кнопка "Find All" > Стрелками перевести курсор в начало "./../images/" > дописать "../../" */



/*_____________________BASE CSS________________________*/

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 22px;
	color: #333;
	font-family: arial, helvetica, sans-serif;
}

/* _Links_ */

a {
	outline: 0;
	color: #246d9c;
	text-decoration: none !important;
    border-bottom: 1px solid #a0c8e2;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
	outline: 0
}

a:hover,
	a:focus {
	color: #e10000;
    border-bottom: 1px solid #f1a5a5;
}

/* Псевдоссылки (например для всплывающих окон или переключателей) */

a.box-link,
a.box-link:hover,
	a.box-link:focus {
	border-bottom: 0;
	display: block;
}

a.box-link span.a {
	border-bottom: 1px solid #a0c8e2;
}

a.box-link:hover span.a,
	a.box-link:focus span.a {
    border-bottom: 1px solid #f1a5a5;
}

a.box-link span.pseudo-a {
	border-bottom: 1px dotted #a0c8e2;
}

a.box-link:hover span.pseudo-a,
	a.box-link:focus span.pseudo-a {
	color: #e10000;
    border-bottom: 1px dotted #f1a5a5;
}

.pseudo-a {
	color: #246d9c;
	border-bottom: 1px dotted #a0c8e2;
	cursor: pointer !important;
}

.pseudo-a:hover,
	.pseudo-a:focus {
	color: #e10000;
	border-bottom: 1px dotted #f1a5a5;
}

.box-pseudo-link {
	border-bottom: 0;
	cursor: pointer;
}

.box-pseudo-link:hover,
	.box-pseudo-link:focus {
	color: red;
}

.box-pseudo-link:hover .dash,
	.box-pseudo-link:focus .dash,
.box-pseudo-link:hover .dot,
	.box-pseudo-link:focus .dot {
	border-color: red;
}

.dash {
	border-bottom: 1px dashed #aaa;
}

.dot {
	border-bottom: 1px dotted #aaa;
}

a img {
	outline: 0;
	text-decoration: none !important;
    border-bottom: 0 !important;
}

/* ^Links^ */

abbr[title] {
    border-bottom: 1px dotted;
}

hr {
	clear: both;
	height: 0;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 15px 0;
}

hr.top {
	margin-top: 0;
}

hr.bott {
	margin-bottom: 0;
}

/* Для создания вертикально линии (не использовать с тегом <hr>) */
.hr {
	width: 0;
	margin-right: -1px;
	border-right: 1px solid #ccc;
	margin: 0 15px;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0 10px 0;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {
	font-size: 26px;
	line-height: 32px;
}

h3 {
	font-size: 22px;
	line-height: 28px;
}

h4 {
	font-size: 18px;
	line-height: 22px;
}

h5 {
	font-size: 15px;
	line-height: 18px;
}

h6 {
	font-size: 13px;
	line-height: 16px;
}

/* defalt */

img {
    border: 0;
}

/* _подсветка кода_ */
pre,
code {
	margin: 15px 0;
	padding: 10px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    clear: both;
    overflow-x: auto; 
	font-size: 14px;
	line-height: 20px;
	background-color: #f4f4f0;
	box-shadow: inset 50px 0 0 #e7e7e2;
	border-radius: 2px;
}

code {
	box-shadow: 0 0 0 #000;
	padding: 0 6px 2px 6px;
	min-height: 20px;
	box-shadow: 0 -2px 0 #f4f4f0;
}

pre ol {
	margin: 0;
	list-style-position: outside;
	list-style-type: decimal;
	color: #999;
}

pre ol li {
	padding-left: 15px;
}

pre span {
	color: #333;
}

.doc,
.atr {
	color: #008866;
}

.tag {
	color: #0019b2;
}

.val {
	color: #e33333;
}

.example{
	padding: 0 15px 0 50px;
	margin: 15px 0;
	border-radius: 2px;
}

/* ^подсветка кода^ */

/* _Таблицы_ */

table {
	border-collapse: collapse;
    border-spacing: 0;
	border-radius: 2px;
	text-align: left;
	font-size: 100%;
	border: 0;
	background: #fff;
	color: #555;
	margin: 0 0 15px 0;
	line-height: 20px;
}

table thead {
	background: #eaeaea;
	color: #333;
	border-bottom: 1px solid #bbb;
}

	table thead a {
		color: #333;
		border-bottom: 1px dotted #777;
	}

	table thead tr th:first-child {
		border-radius: 2px 0 0 0;
	}

	table thead tr th:last-child {
		border-radius: 0 2px 0 0;
	}

table tr {
	padding: 0;
}

table td,
table th {
	padding: 10px;
	vertical-align: top;
}

/* Для таблиц с автоматическим размером колонок 
(дополнительный паддинг, чтобы колонки не слипались - не красиво;)) */
table.auto td,
table.auto th {
	padding: 10px 40px 10px 10px;
	vertical-align: top;
}

	table.auto td:last-child,
	table.auto th:last-child {
		padding-right: 10px;
	}

/* Для таблиц содержащих дание и поля.
   Компактная компановка инпутов в таблице */
table.inp-compact tr td input {
	margin: -6px 0 -4px 0;
	line-height: 1;
}

table.vertical-mid td{
	vertical-align: middle;
}

/* Таблица зебра */
table.zebra tr:nth-child(2n+1) {
	background: #f4f4f4;
}

table.zebra th {
	border-bottom: 2px solid #ccc;
	background: #fff;
}

/* Таблица с горизонтальными разделительными линиями */

table.line tbody th {
	border-bottom: 2px solid #ddd;
}

table.line tbody tr {
	border-bottom: 1px solid #ececec;
}

/* Таблица с горизонтальными и вертикальными разделительными линиями */
table.bordered tr td{
	border: 1px solid #ececec;
}

table.bordered tr th {
	border: 1px solid #dcdcdc;
}

/* Таблицы без левого и правого отступа */
table.nopad tr th:first-child, 
table.nopad tr td:first-child {
	padding-left: 0;
}

table.nopad tr th:last-child, 
table.nopad tr td:last-child {
	padding-right: 0;
}

/* Таблица на всю ширину блока */
table.wide {
	width: 100%;
}

/* Подсветка строк таблицы, при наведении на нее */
table.hovered-tr tbody tr:hover,
	table.hovered-tr tbody tr:focus {
	background: #e8ffb0;
}

/* Подсветка ячеек таблицы, при наведении на них */
table.hovered-td tbody tr td:hover,
	table.hovered-td tbody tr td:focus {
	background: #e8ffb0;
}

/* Стиль хедера таблицы, при прокрутке ее вниз.
   (Для таблиц с фиксированым хедером) */
.tableFloatingHeader {
	border-bottom: 1px solid #9f9f9f;
	box-shadow: 0 7px 15px -7px rgba(0,0,0,.3);
	border-radius: 0 0 2px 2px;
}

/* ^Таблицы^ */


/* _Формы_ */

form {
	margin: 0 0 10px 0;
}

form table td {
	padding: 5px 10px;
	vertical-align: middle;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	display: inline-block;
	line-height: 20px;
	min-height: 20px;
	font-size: 15px;
	padding: 4px 6px 4px 7px;
	width: 200px;
	margin: 5px 0;
	color: #333;
	border-radius: 2px;
	vertical-align: middle;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px #eee;
	-webkit-transition: border 0.2s, box-shadow 0.2s;
	-moz-transition: border 0.2s, box-shadow 0.2s;
	-o-transition: border 0.2s, box-shadow 0.2s;
	transition: border 0.2s, box-shadow 0.2s;	
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	margin: 4px 5px 4px 0;
}

label.radio,
label.checkbox {
	margin-right: 8px;
}

select:focus,
textarea:focus,
input:focus {
	border-color: #999;
	box-shadow: 0 0 3px #ccc; 
}

select {
	width: auto;
	background-color: white;
	border: 1px solid #ccc;
}

select,
input[type="file"] {
	height: 30px;
	line-height: 30px;
}

select[multiple],
select[size] {
	height: auto;
}

textarea {
    overflow: auto;
    vertical-align: top;
    font-size: 90%;
    max-width: 100%;
}

button,
a.button,
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	padding: 4px 15px;
	margin: 4px 6px 4px 0;
	font-size: 15px;
	line-height: 20px;
	min-height: 20px;
	background: #333;
	border: 1px solid #222;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: border 0.2s, background-color 0.2s;
	-moz-transition: border 0.2s, background-color 0.2s;
	-o-transition: border 0.2s, background-color 0.2s;
	transition: border 0.2s, background-color 0.2s;
}

button:hover,
a.button:hover,
input[type="submit"]:hover,
	button:focus,
	a.button:focus,
	input[type="submit"]:focus {
	background: #555;
	border-color: #333;
}

button:active,
a.button:active,
input[type="submit"]:active {
	background-color: #555;
	border-color: #222;
	box-shadow: inset 0 2px 0 #444;
}


/* Серая кнопка */
button.gray,
a.button.gray,
input[type="reset"],
input[type="submit"].gray {
	background-color: #efefe5;
	border-color: #dfdfd5;
	color: #333;
}

button.gray:hover,
a.button.gray:hover,
input[type="reset"]:hover,
input[type="submit"].gray:hover,
	button.gray:focus,
	a.button.gray:focus,
	input[type="reset"]:focus,
	input[type="submit"].gray:focus {
	background-color: #e6e6d9;
	border-color: #ccc;
	color: #000;
}

button.gray:active,
a.button.gray:active,
input[type="reset"]:active,
input[type="submit"].gray:active {
	background-color: #e6e6d9;
	border-color: #ccc;
	box-shadow: inset 0 2px 0 #ccc;
}

/* Голубая кнопка. дополнительная кнопка для kvadraCMS */
button.blue,
a.button.blue,
input[type="submit"].blue {
	background-color: #00b5b5;
	border-color: #00b5b5;
	color: #fff;
}

button.blue:hover,
a.button.blue:hover,
input[type="submit"].blue:hover,
	button.blue:focus,
	a.button.blue:focus,
	input[type="submit"].blue:focus {
	background-color: #0cc;
	border-color: #0cc;
	color: #fff;
}

button.blue:active,
a.button.blue:active,
input[type="submit"].blue:active {
	border-color: #00b5b5;
	box-shadow: inset 0 2px 0 #00b5b5;
}


/*  с виду обычная ссылка, при наведении - превращаеться в кнопку.
	Например для дополнительной функции. Чаще всего используют для кнопки "Забыли пароль?",
	т.к. не отвлекает внимание, с другой стороны являеться кнопкой. */
button.link,
a.button.link {
	background-color: transparent;
	border-color: transparent;
	color: #333;
}

button.link:hover,
a.button.link:hover,
	button.link:focus,
	a.button.link:focus {
	background-color: #e6e6d9;
	border-color: #ccc;
	color: #000;
}

button.link:active,
a.button.link:active {
	background-color: #e6e6d9;
	border-color: #ccc;
	box-shadow: inset 0 2px 0 #ccc;
}

/* Для того, что бы последная кнопка в линии других не слетала изза отступа */
button:last-child,
a.button:last-child,
input[type="submit"].gray:last-child {
	margin-right: 0;
}

/* поиск */
.search {
	width: 210px;
}

.search input {
	width: 136px;
	margin: 0;
	border-radius: 2px 0 0 2px;
	border-right: 0;
}

.search button {
	width: 60px;
	margin: 0;
	padding: 4px 0;
	border-radius: 0 2px 2px 0;
}

/* ^Формы^ */


/* скругление углов */
.r2 {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.r5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

/* круглый блок */
.round {
	-webkit-border-radius: 5000px;
	-moz-border-radius: 5000px;
	-o-border-radius: 5000px;
	border-radius: 5000px;
}

/* Управление прозрачностью блока */
.opa-100 {
	opacity: 1;
}

.opa-90 {
	opacity: .9;
}

.opa-80 {
	opacity: .8;
}

.opa-70 {
	opacity: .7;
}

.opa-60 {
	opacity: .6;
}

.opa-50 {
	opacity: .5;
}

.opa-40 {
	opacity: .4;
}

.opa-30 {
	opacity: .3;
}

.opa-20 {
	opacity: .2;
}

.opa-10 {
	opacity: .1;
}

.opa-5 {
	opacity: .05;
}

.opa-95.hover:hover, .opa-90.hover:hover, .opa-80.hover:hover, .opa-70.hover:hover, .opa-60.hover:hover, .opa-50.hover:hover, .opa-40.hover:hover, .opa-30.hover:hover, .opa-20.hover:hover, .opa-10.hover:hover, .opa-5.hover:hover {
	opacity: 1;
}

/* _Изменение отображения и вида элементов_ */


/* _Tultips_ (на стадии разработки, js нужно написать) */

.tultip{
	display: none;
	position: absolute;
	min-width: 100px;
	padding: 4px 8px 2px 8px;
	margin: 0 0 0 -20px;
	background-color: rgba(255,255,255,1);
	font-family: verdana, sans-serif;
	font-size: 13px;
	text-align: center;
	color: #777;
	z-index: 777;
}

/* ^Tultips^ */

/* _Notes_ */

.note {
	display: block;
	font-size: 90%;
	line-height: 20px;
	min-height: 20px;
	padding: 10px 20px;
	margin: 10px 0;
	background: transparent;
	color: #666;
	border-radius: 2px;
	border: 1px solid #eee;
}

.note pre,
.note code {
	background: rgba(0,0,0,.05);
	box-shadow: 0 -2px 0 rgba(0,0,0,.05);
}

.note.gray {
	background: #f7f7f7;
	color: #555;
	border-color: #e7e7e7;
}

.note.info {
	background: #EEF4FF;
	color: #6681AA;
	border-color: #EEF4FF;
}

.note.ok {
	background: #e1ffdb;
	color: #59894a;
	border-color: #b8ffa8;
}

.note.warning {
	background: #FDFFC1;
	color: #CC8400;
	border-color: #FDFFC1;
}
.note.error {
	background: #f7c8c8;
	color: #a83c3c;
	border-color: #f7c8c8;
}

.note.black {
	background: #555;
	color: #ddd;
	border-color: #555;
}

/* ^Notes^ */

/* _Grid_ */

.table-group {
	clear: both;
	padding: 15px 45px 0 45px;
}

.block-group {
	clear: both;
	padding: 15px 30px 0 30px;
	-webkit-transition: padding 0.2s;
	-moz-transition: padding 0.2s;
	-o-transition: padding 0.2s;
	transition: padding 0.2s;
}

.block-group_nospace {
	clear: both;
	padding: 0;
}

.block {
	display: block;
	float: left;
}

.inblock {
	margin: 15px 15px 0 15px;
	padding: 0;
}

.inblock.withbg {
	padding: 15px;
	background-color: #f3f3f3;
}

.slim {
	padding-top: 0;
}

.plate {
	padding-bottom: 15px;
}

.w5 {
	width: 5%;
}

.w10 {
	width: 10%;
}

.adapt .w16:nth-child(10n+1) {
	clear: left;
}

.w15 {
	width: 15%;
}

.w16 {
	width: 16%;
}

.w16:nth-child(6n),
.w16:nth-child(6n+1),
.w16:nth-child(6n-1),
.w16:nth-child(6n-2) {
	width: 17%;
}

.no-adapt .w16:nth-child(6n),
.no-adapt .w16:nth-child(6n+1),
.no-adapt .w16:nth-child(6n-1),
.no-adapt .w16:nth-child(6n-2) {
	width: 16%;
}

.adapt .w16:nth-child(6n+1) {
	clear: left;
}

.w20 {
	width: 20%;
}

.adapt .w20:nth-child(5n+1) {
	clear: left;
}

.w25 {
	width: 25%;
}

.adapt .w25:nth-child(4n+1) {
	clear: left;
}

.w30 {
	width: 30%;
}

.w33 {
	width: 33%;
}

.w33:nth-child(3n+2) {
	width: 34%;
}

.no-adapt .w33:nth-child(3n+2) {
	width: 33%;
}

.adapt .w33:nth-child(3n+2) .inblock {
	padding: 0 1.48%;
}

.adapt .w33:nth-child(3n+1) {
	clear: left;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w66 {
	width: 66%;
}

.w67 {
	width: 67%;
}

.w70 {
	width: 70%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w95 {
	width: 95%;
}

.w100 {
	width: 100%;
}

.w100px {
	width: 100px;
}

.w150px {
	width: 150px;
}

.w200px {
	width: 200px;
}

.w250px {
	width: 250px;
}

.w300px {
	width: 300px;
}

.w450px {
	width: 450px;
}

.w600px {
	width: 600px;
}

.h100px {
	height: 100px;
}

.h150px {
	height: 150px;
}

.h200px {
	height: 200px;
}

.h250px {
	height: 250px;
}

.h300px {
	height: 300px;
}

.h450px {
	height: 450px;
}

.h600px {
	height: 600px;
}

/* Прокрутка внутри блока */
.workplace {
	float: left;
	position: absolute;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

/* ^Grid^ */

/* курсор стрелка */
.ncr {
	cursor: default !important
}

/* курсор палец */
.pcr {
	cursor: pointer !important
}

/* состояние неактивности элемента */
.disable {
	color: #aaa !important;
}

.disable:after {
	content: 'Недоступно';
	display: block;
	width: 110px;
	height: 30px;
	padding: 5px 8px;
	margin: 0 auto;
	background: #333;
	color: #fff;
	font-style: italic;
	text-align: center;
	opacity: 0;
	-webkit-transition: ALL 0.2s;
	-moz-transition: ALL 0.2s;
	-o-transition: ALL 0.2s;
	transition: ALL 0.2s;
}

.disable:hover:after,
	.disable:focus:after {
	margin: 10px auto -50px;
	opacity: 1;
}

/* Состояние элемента "в разработке" */
.indesign em.id {
	clear: both;
	display: block;
	width: 110px;
	padding: 5px 8px;
	margin: 0 auto;
	background: #333;
	color: #fff;
	font-style: italic;
	opacity: 0;
	-webkit-transition: ALL 0.2s;
	-moz-transition: ALL 0.2s;
	-o-transition: ALL 0.2s;
	transition: ALL 0.2s;
}

.indesign:hover em.id,
	.indesign:focus em.id {
	margin: 10px auto -50px;
	opacity: 1;
}

/*^^^^^^^^^^^^^^^^^^BASE CSS^^^^^^^^^^^^^^^^^^^^*/



/*__________________SITE CSS____________________*/

/* _base_ */

menu {
	padding: 0;
	margin: 15px 0;
	list-style: none;
}

.site .nav-width {
	width: 150px;
	display: block;
}

.site hr {
	margin-left: 45px;
	margin-right: 45px;
	border-bottom: 1px solid #ccc;
}

.site .indent-l {
	margin-left: 20%;
}

.box{
	position: absolute;
	float: left;
	width: 100%;
	top: 0;
	bottom: 0;
}

/* _slider-box_ */

.slider-box {
	height: 550px;
	line-height: 0;
}

.slider-box div.item {
	position: absolute;
	width: 100%;
	text-align: center;
}

.slider-box div.item .description{
	position: absolute;
	line-height: 22px;
	min-height: 22px;
	top: 20%;
	left: 80%;
	text-align: left;
}

/* _slider-box_ */

/* ^base^ */

/* _Switcher-tab_ */

.switch{
	float: left;
	border-radius: 2px;
}

.switch a{
	display: block;
}

.switch div{
	float: left;
}

.switch div a {
	z-index: 99;
	overflow: hidden;
	border: 1px solid #eaeaea;
	-moz-transition: border 0.2s, background-color 0.2s;
	-o-transition: border 0.2s, background-color 0.2s;
	transition: border 0.2s, background-color 0.2s;
}

.switch a:hover,
	.switch a:focus {
	border: 1px solid #eaeaea;
	background-color: #eaeaea;
}

.switch .icon{
	display: block;
	float: left;
	width: 50px;
	height: 30px;
}

.switch .title{
	z-index: 999;
	display: block;
	float: left;
	color: inherit;
	line-height: 28px;
	min-height: 28px;
	margin: 2px 0 0 0;
	cursor: pointer;
}

.switch .active{
	z-index: 888;
}

.switch .active a {
	z-index: 995;
	color: white;
	border: 1px solid #222;
	background-color: #333;
	-moz-transition: background-color 0s;
	-o-transition: background-color 0s;
	transition: background-color 0s;
}

/* ^switcher-tab^ */

/* _switcher-link_ */

.switcher-link>span {
	display: block;
	float: left;
	clear: both;
	padding: .3em .9em;
	margin: 0 -.9em 0 -.9em;
	border-radius: 1em;
	line-height: 1.4;
}

.switcher-link>span.left {
	padding: .3em .7em .3em .9em;
	margin: 0 0 0 -.9em;
}

.switcher-link>span.right {
	padding: .3em .9em .3em .7em;
	margin: 0 -9em 0 0;
}

.switcher-link>span.cube {
	padding: .3em .7em;
	margin: 0 0 0 -.7em;
}

.switcher-link>span.title {
	margin-top: .8em;
	font-weight: 700;
}

.switcher-link>span:first-child{
	margin-top: 0;
}

.switcher-link.inline>span {
	display: inline-block;
	padding: 0 1em;
	margin: 0;
}

.switcher-link span.active {
	background: #eee;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.05);
	color: #333;
}

.switcher-link span.dark.active {
	background: #333;
	color: #fff;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.3);
}

.switcher-link span.left.active {
	border-radius: 1.5em 0 0 1.5em;
}

.switcher-link span.right.active {
	border-radius: 0 1.5em 1.5em 0;
}

.switcher-link>span.active span.pseudo-a,
.switcher-link>span.active a {
	border: 0;
	cursor: default !important;
}

/* ^ switcher-link^ */

/* _navbars_ */

/* cms menu */

.navbar {
	float: left;
	margin: 15px 0 0 15px;
	list-style: none;
	padding: 0;
	border-radius: 2px;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
	z-index: 9999;
}

.navbar>div {
	float: none;
	margin: 0;
	z-index: 99;
	border-radius: 0;
}

.navbar.inline>div {
	float: left;
}

.navbar a {
	display: block;
	color: #fff;
	padding: 5px;
	width: 63px;
	height: 40px;
	background: #333;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	-webkit-transition: box-shadow 0.2s, background-color 0.2s;
	-moz-transition: box-shadow 0.2s, background-color 0.2s;
	-o-transition: box-shadow 0.2s, background-color 0.2s;
	transition: box-shadow 0.2s, background-color 0.2s;
}

	.navbar.inline a {
		width: 65px;
		height: 38px;
		padding: 5px;
		border-top: 1px solid #222;
		border-bottom: 1px solid #222;
		border-left: 0;
		border-right: 0;
	}

.navbar>div:first-child a {
	border-top: 1px solid #222;
	border-radius: 2px 2px 0 0;
	padding-top: 4px;
}

	.navbar.inline>div:first-child a {
		border-left: 1px solid #222;
		border-radius: 2px 0 0 2px;
		padding-left: 4px;
		padding-top: 5px;
	}

.navbar>div:last-child a {
	border-bottom: 1px solid #222;
	border-radius: 0 0 2px 2px;
	padding-bottom: 4px;
}

	.navbar.inline>div:last-child a {
		border-right: 1px solid #222;
		border-radius: 0 2px 2px 0;
		padding-right: 4px;
		padding-bottom: 5px;
	}

.navbar>div.active a,
.navbar>div.active a:hover,
	.navbar>div.active a:focus,
.navbar.inline>div.active a,
.navbar.inline>div.active a:hover,
	.navbar.inline>div.active a:focus {
	background-color: #00b5b5;
	border-color: #00b5b5;
}

.navbar>div a:hover,
	.navbar>div a:focus {
	background-color: #444;
}

.navbar>div a:active,
.navbar.inline>div a:active {
	background-color: #555;
	border-color: #555;
}

.navbar div:hover .tultip,
	.navbar div:focus .tultip {
	display: block;
	z-index: 999;
}


/* site menu */

.site .text-navbar {
	position: absolute;
}

.text-navbar {
	z-index: 99999;
	float: left;
	margin: 30px 0 0 45px;
	background: #333;
	border-radius: 2px;
	padding: 0 0 10px 0;
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

	.text-navbar.inline {	
		padding: 0;
	}

.text-navbar>div {
	float: none;
	z-index: 99;
}

	.text-navbar.inline>div {
		float: left;
	}

.text-navbar a {
	display: block;
	color: #fff;
	width: 125px;
	line-height: 30px;
	min-height: 30px;
	padding: 0 0 0 25px;
	border: 0;
	-webkit-transition: color 0.2s, background-color 0.2s;
	-moz-transition: color 0.2s, background-color 0.2s;
	-o-transition: color 0.2s, background-color 0.2s;
	transition: color 0.2s, background-color 0.2s;
}

	.text-navbar.inline a {
		width: auto;
		display: inline-block;
		padding: 0 15px;
	}

.text-navbar .logo a {
	height: 130px;
	border-top: 15px solid rgba(0,0,0,0);
	margin-bottom: 5px; 
}

	.text-navbar.inline .logo a {
		width: 100px;
		height: 32px;
	}

	.text-navbar.inline div:first-child a{
		border-radius: 2px 0 0 2px;
	}

	.text-navbar.inline div:last-child a{
		border-radius: 0 2px 2px 0;
	}

.text-navbar div a:hover,
	.text-navbar div a:focus {
	text-shadow: 0 0 15px #fff;
}

.text-navbar div a:active{
	color: #bbb;
	text-shadow: 0 0 0 #fff;
}

.text-navbar div.active a,
.text-navbar div.active a:hover,
	.text-navbar div.active a:focus {
	background-color: #00b5b5;
	color: #fff;
	text-shadow: 0 0 10px #fff;
	z-index: 888;
}

.text-navbar menu.sub-menu{
	margin: 0 0 0 0;
	padding: 7px 0;
	background-color: rgba(0,0,0,.3);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.07);
	border-bottom: 1px solid rgba(0,0,0,.08);
	border-top: 1px solid rgba(0,0,0,.15);
}

.text-navbar .group{
	margin: 5px 0 0 0;
	display: block;
}

.text-navbar .popup-btn {
	height: 15px;
	margin-top: -5px;
	padding: 1px 0 0 60px;
	z-index: 9999;
	cursor: pointer;
	border-top: 2px solid rgba(0,0,0,0);
	border-bottom: 2px solid rgba(0,0,0,0);
	-webkit-transition: ALL 0.2s;
	-moz-transition: ALL 0.2s;
	-o-transition: ALL 0.2s;
	transition: ALL 0.2s;
}

	.text-navbar .popup-btn:hover,
		.text-navbar .popup-btn:focus {
		box-shadow: inset 0 16px 0 rgba(100,100,100,.1);
		border-top: 2px solid rgba(100,100,100,.1);
	}

	.text-navbar .popup-btn.active {
		box-shadow: inset 0 16px 0 rgba(100,100,100,.1);
		border-top: 2px solid rgba(0,0,0,.12);
		border-bottom: 2px solid rgba(100,100,100,.1);
	}

.popup-btn b {
	float: left;
	margin: 3px 2px;
	height: 2px;
	width: 2px;
	border-radius: 100px;
	display: block;
	background-color: rgba(80,80,80,.5);
	-webkit-transition: ALL 0.1s;
	-moz-transition: ALL 0.1s;
	-o-transition: ALL 0.1s;
	transition: ALL 0.1s;
}

	.popup-btn:hover b,
		.popup-btn:focus b,
	.popup-btn.active b {
		background-color: rgba(80,80,80,1);
	}

	.popup-btn:hover .b1,
		.popup-btn:focus .b1,
	.popup-btn:hover .b5,
		.popup-btn:focus .b5,
	.popup-btn.active .b3 {
		margin: 3px 2px 0 2px;
	}

	.popup-btn:hover .b2,
		.popup-btn:focus .b2,
	.popup-btn:hover .b4,
		.popup-btn:focus .b4,
	.popup-btn.active .b2,
	.popup-btn.active .b4 {
		margin: 5px 2px 0 2px;
	}

	.popup-btn:hover .b3,
		.popup-btn:focus .b3,
	.popup-btn.active .b1,
	.popup-btn.active .b5 {
		margin: 7px 2px 0 2px;
	}

	.popup-btn.active:hover .b3,
		.popup-btn.active:focus .b3 {
		margin: 3px 2px 0 2px;
	}

#popup {
	display: none;
	padding: 0;
	border: 0;
}

#popup.sub-menu div a {
	height: 145px;
}

#popup.sub-menu div:last-child a {
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
}	

#popup.sub-menu div.item-1 a {
	background: #eee url(./../images/logo-menu-4pr.png) no-repeat 0 0;
}

#popup.sub-menu div.item-1 a:hover,
	#popup.sub-menu div.item-1 a:focus {
	background: #eee url(./../images/logo-menu-4pr.png) no-repeat -200px 0;
}

#popup.sub-menu div.item-2 a {
	background: #00132e url(./../images/logo-menu-dc.png) no-repeat 0 0;
}

#popup.sub-menu div.item-2 a:hover,
	#popup.sub-menu div.item-2 a:focus {
	background: #00132e url(./../images/logo-menu-dc.png) no-repeat -200px 0;
}

/* ^navbars^ */


/* _leftnav_ */

.leftnav {
	float: left;
	margin: 0 15px 0 30px;
	padding: 0;
	width: 240px;
	clear: both;
	height: 100%;
	overflow-y: auto;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

.leftnav>* {
	margin: 15px 0;
}

.leftnav hr {
	width: 62%;
	border-bottom: 3px solid #ddd;	
}

.leftnav ul {
	list-style: none;
	padding-left: 15px;
}

.leftnav>ul {
	padding: 0;
}

.leftnav ul li {
	float: left;
	clear: both;
	display: block;
	border-left: 1px solid transparent;
}

.leftnav>ul>li {
	overflow: hidden;
	float: none;
}

.leftnav>ul>li:hover {
	box-shadow: inset 1px 0 0 #eee;
}

.leftnav.with-icon li a {
	padding-left: 40px;
}

.leftnav.with-icon li a i {
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	float: left;
	margin: -2px 0 0 -31px;
	background: url(../../images/m-icon.png) no-repeat 0 0;
}

.leftnav li a {
	display: block;
	float: left;
	padding: 5px 15px;
	line-height: 20px;
	min-height: 20px;
	margin: 0;
	border: 0;
	color: #444;
	-webkit-transition: All .2s;
	-moz-transition: All .2s;
	-o-transition: All .2s;
	transition: All .2s;
}

.leftnav a span.a {
	border-bottom: 1px solid #bbb;
}

.leftnav a span.dot {
	border-bottom: 1px dotted #aaa;
}

.leftnav li a:hover,
	.leftnav li a:focus {
	color: #000;
	background-color: #f4f4f4;
}

.leftnav li a.active,
.leftnav li a.active:hover,
	.leftnav li a.active:focus {
	color: #00b5b5;
	background-color: #f4f4f4;
}

.leftnav li a.active span.a,
.leftnav li a.active span.dot {
	border-bottom: 0;
}

.leftnav li a:hover span.a,
.leftnav li a:hover span.dot,
	.leftnav li a:focus span.a,
	.leftnav li a:focus span.dot {
	border-bottom-color: #555;
}

.leftnav li a:active {
	background-color: #e3e3e3;
}

/* ^leftnav^ */

.phone-code {
	margin: 0 .33em 0 -2em;
	color: #bbb;
}

.social-box {
	width: 100%;
	margin: 25px 0;
}

.social-box .social-line {
	margin: 0 45px;
	border-top: 1px solid #ccc;
}

.pluso {
	left: 50%;
	margin: -15px 0 0 -185px;
	width: 345px;
	text-align: center;
}

span.social {
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	width: 135px;
	float: left;
	margin: 0 10px 0 5px;
	color: #999;
}

.pluso a {
	border: 0;
	float: left;
	margin-right: 5px;
}

.pluso a.pluso-email {
	margin: 0 5px 0 15px;
}

.pluso a.pluso-twitter,
.pluso a.pluso-facebook,
.pluso a.pluso-google,
.pluso a.pluso-vkontakte {
	margin: 0 5px 0 0;
}

.pluso a.pluso-vkontakte {
	margin-right: 8px;
}

.pluso-small a {
	margin-right: 15px;
}

.pluso .pluso-counter-container {
	margin-left: 55px;
}



/* _4pr base_ */

.pr i.micro-icon img{
	width: 1em;
	height: 1em;
	margin-bottom: -.1em;
}

/* icon */

i.micro-icon img {
	width: 1em;
	height: 1em;
	margin: 0 .33em -.1em 0;
}

i.micro-icon.outside img {
	margin-left: -1.33em;
}

i.mini,
i.micro {
	display: inline-block;
}

i.mini {
	height: 59px;
	width: 80px;
}

i.micro {
	height: 30px;
	width: 40px;
}

.footer i.mini {
	margin: 15px;
}



.input-s {
	width: 50px !important;
}

.input-m {
	width: 100px !important;
}

.input-m input {
	box-sizing: border-box;
	width: 100px !important;
}

.input-l {
	width: 200px !important;
}

.input-xl {
	width: 300px !important;
}

.input-xxl {
	width: 400px !important;
}

.input-all {
	width: 100% !important;
}

.input-auto {
	width: auto !important;
}

/* _Typografic_ */

/* t- сокращение(typografic) - префикс для класов типографики */

.t-5 {
	font-size: 16px;
	line-height: 24px;
}

.t-4 {
	font-size: 18px;
	line-height: 25px;
}

.t-3 {
	font-size: 22px;
	line-height: 28px;
}

.t-2 {
	font-size: 26px;
	line-height: 32px;
}

.t-1 {
	font-size: 32px;
	line-height: 40px;
}

.t-super-head {
	font-size: 60px;
	line-height: 1;
	margin-left: -.05em;
	font-weight: 300;
}

p.no-float {
	margin-top: 15px; 
}

p {
	margin: 0 0 15px;
}

q {
	display: block;
	color: #555;
	font-style: italic;
	padding-left: 40px;
	margin: 0 0 15px 0;
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small,
.t-small{
	font-size: 90%;
}

.t-smaller{
	font-size: 80%;
}

.t-big{
	font-size: 110%;
}

.t-bigger{
	font-size: 120%;
}

.t-em{
	font-style: italic;
}

/* .t-norm = body font style */
.t-norm{
	font-size: 15px;
	line-height: 22px;
}

.t-bold {
	font-weight: 700;
}

.t-light {
	font-weight: 300;
}

.t-date{
	font-size: 80%;
	color: #777;
}

.t-count{
	font-size: 80%;
	color: #aaa;
}

.t-prolog{
	padding-left: 10px;
	font-size: 90%;
	color: #777;
	border-left: 1px solid rgba(0,0,0,.15);
}

.t-gray1{
	color: #ddd; 
}
.t-gray2{
	color: #ccc;
}
.t-gray3{
	color: #aaa;
}
.t-gray4{
	color: #999;
}
.t-gray5{
	color: #888;
}

.t-dark1{
	color: #222;
}
.t-dark2{
	color: #333;
}
.t-dark3{
	color: #555;
}
.t-dark4{
	color: #666;
}
.t-dark5{
	color: #777;
}

.t-narrow{
	font-family: arial narrow;
}

.t-left{
	text-align: left;
}

.t-center{
	text-align: center;
}

.t-right{
	text-align: right;
}

/* ^Typografic^ */

/* _Изменение отображения и вида элементов_ */

.img-box {
	line-height: 0;
}

.ein {
	padding-top: 0;
	margin-top: 0;
}

.clear {
	clear: both;
}

.clear-n {
	clear: right;
}

.clear-l {
	clear: left;
}

.clear-r {
	clear: right;
}

.dsp-b {
	display: block;
}

.dsp-i {
	display: inline;
}

.dsp-i-b {
	display: inline-block;
}

.f-left {
	float: left;
}

.f-center {
	margin: 0 auto;
	float: none;
	display: block;
}

.f-right {
	float: right;
}



@media (min-width: 1800px) and (max-width: 100500px) {

	body {
		font-size: 16px;
		line-height: 22px;
	}

	.adapt .w20{
		width: 16%;
	}

	.adapt .w20:nth-child(6n+2),
	.adapt .w20:nth-child(6n+3),
	.adapt .w20:nth-child(6n-1),
	.adapt .w20:nth-child(6n-2) {
		width: 17%;
	}

	.adapt .w20:nth-child(5n+1){
		clear: none;
	}

	.adapt .w20:nth-child(6n+1){
		clear: left;
	}

	.adapt .w25{
		width: 20%;
	}

	.adapt .w25:nth-child(5n+1){
		clear: left;
	}

	.adapt .w25:nth-child(4n+1){
		clear: none;
	}

	.adapt .w33{
		width: 20%;
	}

	.adapt .w33:nth-child(3n+2) .inblock {
		padding: 0;
	}

	.adapt .w33:nth-child(5n+1){
		clear: left;
	}

	.adapt .w33:nth-child(3n+1){
		clear: none;
	}

	.adapt .w50{
		width: 33%;
	}

	.adapt .w50:nth-child(3n+2){
		width: 34%;
	}

	.adapt .w50:nth-child(3n+1){
		clear: left;
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 15px 0 15px 0;
	}

	h1 {
		font-size: 36px;
		line-height: 42px;
	}

	h2 {
		font-size: 28px;
		line-height: 36px;
	}

	h3 {
		font-size: 24px;
		line-height: 30px;
	}

	h4 {
		font-size: 20px;
		line-height: 25px;
	}

	h5 {
		font-size: 18px;
		line-height: 22px;
	}

	h6 {
		font-size: 15px;
		line-height: 18px;
	}

	.social-box .social-line {
		margin: 0 100px;
	}

	hr {
		border-bottom: 2px solid #ccc;
		margin: 25px 0;
	}

	.hr{
		margin-right: -2px;
		border-right: 2px solid #ccc;
		margin: 0 20px;
		height: 100%;
	}

	pre,
	code{
		padding: 15px;
		font-size: 17px;
		line-height: 25px;
		box-shadow: inset 60px 0 0 #e7e7e2;
		border-radius: 3px;
	}

	code {
		box-shadow: 0 0 0 #000;
		padding: 0 6px 2px 6px;
		box-shadow: 0 -2px 0 #f4f4f0;
	}

	pre ol li {
		padding-left: 20px;
	}

	table {
		border-radius: 3px;
		margin: 0 0 20px 0;
		line-height: 22px;
	}

	table td,
	table th {
		padding: 12px 45px 12px 12px;
	}

	table td:last-child,
	table th:last-child {
		padding-right: 12px;
	}

	form {
		margin: 0 0 12px 0;
	}

	form table td {
		width: 158px;
		padding: 7px 12px;
	}

	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		display: inline-block;
		line-height: 24px;
		font-size: 16px;
		padding: 6px 8px;
		width: 260px;
		margin: 7px 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		-webkit-box-shadow: inset 0 1px 2px #eee;
		-moz-box-shadow: inset 0 1px 2px #eee;
		box-shadow: inset 0 1px 2px #eee;
	}

	select:focus,
	textarea:focus,
	input:focus {
		border-color: #999;
		box-shadow: 0 0 .3em #ccc; 
	}

	select {
		width: 300px;
		border: 1px solid #ccc;
	}

	select,
	input[type="file"] {
		height: 40px;
		line-height: 40px;
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin: 5px 7px 5px 0;
	}

	label.radio,
	label.checkbox {
		margin-right: 10px;
	}

	button,
	a.button,
	input[type="reset"],
	input[type="submit"] {
		padding: 6px 15px;
		margin: 5px 8px 5px 0;
		font-size: 15px;
		line-height: 24px;
		min-height: 24px;
	}

	.r2 {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}

	.r5 {
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
	}

	.search {
		white-space: nowrap;
		width: 300px;
	}

	.search input {
		width: 211px;
		border-radius: 3px 0 0 3px;
		border-right: 0;
	}

	.search button {
		width: 75px;
		padding: 7px 0;
		border-radius: 0 3px 3px 0;
	}

	.note {
		line-height: 26px;
		padding: 12px 12px 12px 60px;
		border-radius: 3px;
		border: 2px solid #ffedc1;
	}

	.note:before {
		margin: 1px -38px;
	}

	.tultip {
		min-width: 110px;
		padding: 6px 12px 3px 12px;
		margin: 0 0 0 -17px;
		background-color: rgba(255,255,255,.95);
		font-size: 15px;
	}

	/*Grid*/

	.table-group {
		clear: both;
		padding: 20px 100px;
	}

	.block-group {
		clear: both;
		padding: 20px 70px 0 70px;
	}

	.block-group.plate {
		padding-bottom: 20px;
	}

	.inblock {
		margin: 20px 30px 0 30px;
		padding: 0;
	}

	.inblock.withbg {
		padding: 20px 30px;
	}

	/*Grid -end*/

	.site hr {
		margin-left: 100px;
		margin-right: 100px;
	}

	.footer {
		padding-bottom: 100px;
	}

	/*switcher*/

	.switch a:hover,
		.switch a:focus {
		border: 2px solid #eaeaea;
	}

	.switch div a {
		border: 2px solid #eaeaea;
	}

	.switch .active a {
		border: 2px solid #2a2a2a;
	}

	.switch .active a:hover,
		.switch .active a:focus {
		-moz-box-shadow: inset 0 20px 30px 25px #333;
		box-shadow: inset 0 60px 30px 25px #333;
	}

	/*switcher -end*/

	/*switcher-link*/

	.switcher-link span.active {
		box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
	}

	/*switcher-link -end*/


	/*navbars -begin*/

	/*navbar*/

	.navbar {
		margin: 20px 0 0 20px;
		border-radius: 3px;
	}

	.navbar a {
		width: 90px;
		height: 60px;
		border-left: 2px solid #2a2a2a;
		border-right: 2px solid #2a2a2a;
	}

	.navbar.inline a {
		width: 90px;
		height: 54px;
		border-top: 2px solid #2a2a2a;
		border-bottom: 2px solid #2a2a2a;
		border-left: 0;
		border-right: 0;
		box-shadow: inset 0 0 0 #2a2a2a;
	}

	.navbar>div:first-child a {
		border-top: 2px solid #222;
		border-radius: 3px 3px 0 0;
	}

		.navbar.inline>div:first-child a {
			border-left: 2px solid #222;
			border-radius: 3px 0 0 3px;
			padding-left: 4px;
			padding-top: 5px;
		}

	.navbar>div:last-child a {
		border-bottom: 2px solid #222;
		border-radius: 0 0 3px 3px;
	}

		.navbar.inline>div:last-child a {
			border-right: 2px solid #222;
			border-radius: 0 3px 3px 0;
		}


	.text-navbar {
		margin: 40px 0 0 100px;
		border-radius: 3px;
		padding: 0 0 12px 0;
	}

	.text-navbar a {
		width: 130px;
		line-height: 32px;
		padding-left: 30px; 
	}

		.text-navbar.inline a {
			padding: 0 20px 0 20px;
		}

	.text-navbar .logo a {
		width: 160px;
		height: 150px;
		padding-left: 0;
		border-top: 10px solid rgba(0,0,0,0);
		margin: 0;
	}

		.text-navbar.inline .logo a {
			width: 120px;
			height: 35px;
		}

		.text-navbar.inline div:first-child a {
			border-radius: 3px 0 0 3px;
		}

		.text-navbar.inline div:last-child a {
			border-radius: 0 3px 3px 0;
		}

	.text-navbar .popup-btn {
		padding: 1px 0 0 65px;
	}

	#popup.sub-menu div a {
		height: 150px;
	}

	#popup.sub-menu div.item-1 a {
		background: #eee url(./../images/logo-menu-4pr.png) no-repeat 5px 3px;
	}

	#popup.sub-menu div.item-1 a:hover,
		#popup.sub-menu div.item-1 a:focus {
		background: #eee url(./../images/logo-menu-4pr.png) no-repeat -195px 3px;
	}

	#popup.sub-menu div.item-2 a {
		background: #00132e url(./../images/logo-menu-dc.png) no-repeat 5px 3px;
	}

	#popup.sub-menu div.item-2 a:hover,
		#popup.sub-menu div.item-2 a:focus {
		background: #00132e url(./../images/logo-menu-dc.png) no-repeat -195px 3px;
	}

	/*navbars -end*/

	.input-s {
		width: 110px;
	}

	.input-m {
		width: 160px;
	}

	.input-l {
		width: 260px;
	}

	.input-xl {
		width: 360px;
	}

	.input-xxl {
		width: 460px;
	}

	.t-norm {
		font-size: 16px;
		line-height: 24px;
	}

	.t-4 {
		font-size: 20px;
		line-height: 25px;
	}

	.t-3 {
		font-size: 24px;
		line-height: 30px;
	}

	.t-2 {
		font-size: 28px;
		line-height: 36px;
	}

	.t-1 {
		font-size: 36px;
		line-height: 42px;
	}

	.t-super-head {
		font-size: 64px;
		line-height: 1;
	}

}

@media (min-width: 1366px) and (max-width: 1600px) {

	.adapt .w25 {
		width: 20%;
	}

	.adapt .w25:nth-child(5n+1) {
		clear: left;
	}

	.adapt .w25:nth-child(4n+1) {
		clear: none;
	}

	.adapt .w33 {
		width: 25%;
	}

	.adapt .w33:nth-child(3n+2) .inblock {
		padding: 0;
	}

	.adapt .w33:nth-child(4n+1) {
		clear: left;
	}

	.adapt .w33:nth-child(3n+1) {
		clear: none;
	}

}

@media (min-width: 1152px) and (max-width: 1279px) {

	body {

	}

}

@media (min-width: 1024px) and (max-width: 1152px) {

	body {
	}

}

@media (min-width: 920px) and (max-width: 1024px) {

	body {

	}

	.site hr {
		margin-left: 30px;
		margin-right: 30px;
	}

	/*Grid*/

	.social-box .social-line {
		margin: 0 30px;
	}

	.table-group {
		clear: both;
		padding: 15px 30px;
	}

	.block-group {
		clear: both;
		padding: 15px 15px 0 15px;
	}

	.block-group.plate {
		padding-bottom: 15px;
	}

	.adapt .w16 {
		width: 20%;
	}

	.adapt .w16:nth-child(5n+1) {
		clear: left;
	}

	.adapt .w16:nth-child(6n+1) {
		clear: none;
	}

	.adapt .w20 {
		width: 25%;
	}

	.adapt .w20:nth-child(4n+1) {
		clear: left;
	}

	.adapt .w20:nth-child(5n+1) {
		clear: none;
	}

	.adapt .w25 {
		width: 33%;
	}

	.adapt .w25:nth-child(3n+2) {
		width: 34%;
	}

	.adapt .w25:nth-child(3n+2) .inblock {
		padding: 0 1.48%;
	}

	.adapt .w25:nth-child(3n+1) {
		clear: left;
	}

	.adapt .w25:nth-child(4n+1) {
		clear: none;
	}

	.adapt .w33 {
		width: 50%;
	}

	.adapt .w33:nth-child(3n+2) .inblock {
		padding: 0;
	}

	.adapt .w50 {
		width: 100%;
	}

	/*Grid -end*/

	.text-navbar{
		margin: 30px 0 0 30px;
	}

}

@media (min-width: 840px) and (max-width: 920px) {

	body {

	}

	/*Grid*/

	.social-box .social-line {
		margin: 0 25px;
	}

	.table-group{
		clear: both;
		padding: 10px 25px;
	}

	.block-group{
		clear: both;
		padding: 10px 10px 0 10px;
	}

	.block-group.plate{
		padding-bottom: 10px;
	}

	.adapt .w10{
		width: 20%;
	}

	.adapt .w10:nth-child(5n+1){
		clear: left;
	}

	.adapt .w10:nth-child(10n+1){
		clear: none;
	}

	.adapt .w16{
		width: 25%;
	}

	.adapt .w16:nth-child(4n+1){
		clear: left;
	}

	.adapt .w16:nth-child(6n+1){
		clear: none;
	}

	.adapt .w20{
		width: 25%;
	}

	.adapt .w20:nth-child(4n+1){
		clear: left;
	}

	.adapt .w20:nth-child(5n+1){
		clear: none;
	}

	.adapt .w25{
		width: 33%;
	}

	.adapt .w25:nth-child(3n+2){
		width: 34%;
	}

	.adapt .w25:nth-child(3n+2) .inblock {
		padding: 0 1.48%;
	}

	.adapt .w25:nth-child(3n+1){
		clear: left;
	}

	.adapt .w25:nth-child(4n+1){
		clear: none;
	}

	.adapt .w33{
		width: 50%;
	}

	.adapt .w33:nth-child(3n+2) .inblock {
		padding: 0;
	}

	.adapt .w50{
		width: 100%;
	}

	/*Grid -end*/

	.site hr {
		margin-left: 25px;
		margin-right: 25px;
	}

	.text-navbar{
		margin: 25px 0 0 25px;
	}

}

@media (min-width: 760px) and (max-width: 840px) {

	body {

	}

	/*Grid*/

	.social-box .social-line {
		margin: 0 25px;
	}

	.table-group {
		clear: both;
		padding: 10px 25px;
	}

	.block-group {
		clear: both;
		padding: 10px 10px 0 10px;
	}

	.block-group.plate {
		padding-bottom: 10px;
	}

	.adapt .w10 {
		width: 20%;
	}

	.adapt .w10:nth-child(5n+1) {
		clear: left;
	}

	.adapt .w10:nth-child(10n+1) {
		clear: none;
	}

	.adapt .w16 {
		width: 25%;
	}

	.adapt .w16:nth-child(4n+1) {
		clear: left;
	}

	.adapt .w16:nth-child(6n+1) {
		clear: none;
	}

	.adapt .w20 {
		width: 33%;
	}

	.adapt .w20:nth-child(3n+2) {
		width: 34%;
	}

	.adapt .w20:nth-child(3n+2) .inblock {
		padding: 0 1.5%;
	}

	.adapt .w20:nth-child(3n+1) {
		clear: left;
	}

	.adapt .w20:nth-child(4n+1),
	.adapt .w20:nth-child(5n+1) {
		clear: none;
	}

	.adapt .w25 {
		width: 50%;
	}

	.adapt .w33 {
		width: 50%;
	}

	.adapt .w33:nth-child(3n+2) .inblock {
		padding: 0;
	}

	.adapt .w50 {
		width: 100%;
	}

	/*Grid -end*/

	.site hr {
		margin-left: 25px;
		margin-right: 25px;
	}

	.text-navbar {
		margin: 25px 0 0 -1px;
		border-radius: 0 2px 2px 0;
	}

	.text-navbar a {
		padding-left: 26px;
	}

}


@media (min-width: 10px) and (max-width: 760px) {

	body {
		font-size: 14px;
	}

	.t-super-head {
		font-size: 48px;
		line-height: 1;
		margin-left: -.05em;
		font-weight: 300;
	}

	/*Grid*/

	.social-box .social-line {
		margin: 0 25px;
	}

	.table-group{
		clear: both;
		padding: 10px 25px;
	}

	.block-group{
		clear: both;
		padding: 10px 10px 0 10px;
	}

	.block-group.plate{
		padding-bottom: 10px;
	}

	.adapt .w10{
		width: 20%;
	}

	.adapt .w10:nth-child(5n+1){
		clear: left;
	}

	.adapt .w10:nth-child(10n+1){
		clear: none;
	}

	.adapt .w16{
		width: 25%;
	}

	.adapt .w16:nth-child(4n+1){
		clear: left;
	}

	.adapt .w16:nth-child(6n+1) {
		clear: none;
	}

	.adapt .w20 {
		width: 33%;
	}

	.adapt .w20:nth-child(3n+2) {
		width: 34%;
	}

	.adapt .w20:nth-child(3n+1) {
		clear: left;
	}

	.adapt .w20:nth-child(4n+1),
	.adapt .w20:nth-child(5n+1) {
		clear: none;
	}

	.adapt .w25 {
		width: 50%;
	}

	.adapt .w33 {
		width: 100%;
	}

	.adapt .w33:nth-child(3n+2) .inblock {
		padding: 0;
	}

	.adapt .w50 {
		width: 100%;
	}

	/*Grid -end*/

	.site hr {
		margin-left: 25px;
		margin-right: 25px;
	}

	.site .indent-l {
		margin-left: 0;
	}

	.site .indent-l.w50,
	.site .indent-l.w60 {
		width: 80%;
	}

	.site .indent-l.w80,
	.site .indent-l.w90 {
		width: 100%;
	}

	.leftnav{
		margin: 0 15px 15px 15px;
	}

	/* site menu */

	.site .text-navbar {
		position: relative;
	}

	.text-navbar {
		float: none;
		overflow: hidden;
		margin: 0;
		height: 45px;
		border-radius: 0;
		padding: 0;
		box-shadow: inset 0 -1px 1px -1px rgba(0,0,0,.3);
	}

	.text-navbar div {
		float: left;
	}

	.text-navbar a {
		width: auto;
		line-height: 25px;
		min-height: 25px;
		padding: 10px 0;
		padding-left: 0;
	}

	.text-navbar .logo  {
		width: 16%;
		overflow: hidden;
	}

	.text-navbar .logo a {
		height: 45px;
		width: 60px;
		border-top: 0;
		margin: 0 auto;
		line-height: 0;
	}

	.text-navbar .group {
		display: block;
		margin: 0;
		width: 80%;
		overflow: hidden;
	}

	.text-navbar .group>div {
		width: 25%;
		text-align: center;
	}

	.text-navbar .popup-btn {
		position: relative;
		float: left;
		margin: 0;
		border: 0;
		width: 2%;
		height: 35px;
		padding: 5px 1% 5px 1%;
		box-shadow: inset 0 0 0 rgba(100,100,100,.1);
	}

		.text-navbar .popup-btn:hover,
			.text-navbar .popup-btn:focus {
			box-shadow: inset 45px 0 0 rgba(100,100,100,.1);
			border: 0;
		}

		.text-navbar .popup-btn.active {
			box-shadow: inset 45px 0 0 rgba(100,100,100,.1), inset 2px 0 0 rgba(0,0,0,.1);
			border: 0;
		}

	.popup-btn b {
		float: none;
		margin: 4px 2px;
	}

	.popup-btn:hover .b1,
		.popup-btn:focus .b1,
	.popup-btn:hover .b5,
		.popup-btn:focus .b5,
	.popup-btn.active .b3 {
		margin: 3px 2px 3px 2px;
	}

	.popup-btn:hover .b2,
		.popup-btn:focus .b2,
	.popup-btn:hover .b4,
		.popup-btn:focus .b4,
	.popup-btn.active .b2,
	.popup-btn.active .b4 {
		margin: 3px 2px 3px 4px;
	}

	.popup-btn:hover .b3,
		.popup-btn:focus .b3,
	.popup-btn.active .b1,
	.popup-btn.active .b5 {
		margin: 3px 0 3px 6px;
	}

	.popup-btn.active:hover .b3,
		.popup-btn.active:focus .b3 {
		margin: 3px 2px 0 2px;
	}

	.popup-btn:hover .b1,
		.popup-btn:focus .b1,
	.popup-btn.active .b1 {
		margin-top: 6px;
	}

	#popup {
		display: none;
		padding: 0;
		border: 0;
	}

	#popup.sub-menu {
		width: 80%;
		overflow: hidden;
	}

	#popup.sub-menu div {
		width: 25%;
	}

	#popup.sub-menu div a {
		height: 45px;
		width: 60px;
		margin: 0 auto;
	}

	#popup.sub-menu div.item-1 {
		background: #eee;
	}

	#popup.sub-menu div.item-1 a {
		background: #eee url(./../images/logo-menu-4pr.png) no-repeat 2px -5px;
		background-size: 300px 300px;
	}

	#popup.sub-menu div.item-1 a:hover,
		#popup.sub-menu div.item-1 a:focus {
		background: #eee url(./../images/logo-menu-4pr.png) no-repeat -73px -5px;
		background-size: 300px 300px;
	}

	#popup.sub-menu div.item-2 {
		background: #00132e;
	}

	#popup.sub-menu div.item-2 a {
		background: #00132e url(./../images/logo-menu-dc.png) no-repeat 2px -5px;
		background-size: 300px 300px;
	}

	#popup.sub-menu div.item-2 a:hover,
		#popup.sub-menu div.item-2 a:focus {
		background: #00132e url(./../images/logo-menu-dc.png) no-repeat -73px -5px;
		background-size: 300px 300px;
	}

	#popup.sub-menu div:last-child a {
		box-shadow: 0 0 0 #000;
	}
